{% extends "main/modal.html" %}

{% block modalId %}
     <div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">   
{% endblock  %}

{% block title %}
    Download
{% endblock %}

{% block content %}
    <form>
          <div class="form-group form-file-upload form-file-multiple">
            <input type="file" multiple="" class="inputFileHidden">
            <div class="input-group">
                <input type="text" class="form-control inputFileVisible" placeholder="Single File">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-fab btn-round btn-primary">
                        <i class="material-icons">attach_file</i>
                    </button>
                </span>
            </div>
        </div>

   
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success">Download</button>
{% endblock %}
 </form>