{% extends "main/modal.html" %}

{% block modalId %}
     <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">   
{% endblock  %}

{% block title %}
    Edit/Update employee Details
{% endblock %}

{% block content %}
    <h3>Update</h3>
{% endblock %}

{% block buttons %}
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-success">Submit</button>
{% endblock %}